<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myliket2.myliket.TodoMapper">

    <!-- allTodoList: 전체 카테고리의 할일을 조회 한다.-->
    <select id="allTodoList" resultType="TodoResponseVO">
        /*allTodoList*/
        SELECT
            categoryName
             , todoNo
             , todoTitle
             , todoContent
             , DATE_FORMAT(todoDay, '%Y-%m-%d') AS todoDay
             , DATE_FORMAT(todoTime, '%H:%i:%s') AS todoTime
             , stateKor
        FROM
            category AS c
           , tododetail AS t
           , grbstate AS g
        WHERE
            c.categoryId = t.categoryId
          AND
            t.todoState = g.stateCode
        GROUP BY
            todoNo
        ORDER BY
            todoDay ASC
               , todoTime IS NULL ASC
               , todoTime ASC
    </select>

    <!-- getCategoryTodoList: 카테고리 {categoryId} 에 대한 전체 할일을 조회-->
    <select id="getCategoryTodoList" parameterType="TodoRequestVO" resultType="TodoResponseVO">
        /*getCategoryTodoList*/
        SELECT
            categoryName
             , todoNo
             , todoTitle
             , todoContent
             , DATE_FORMAT(todoDay, '%Y-%m-%d') AS todoDay
             , DATE_FORMAT(todoTime, '%H:%i:%s') AS todoTime
             , stateKor
        FROM
            category AS c
           , tododetail AS t
           , grbstate AS g
        WHERE
            c.categoryId = t.categoryId
          AND
            t.todoState = g.stateCode
          AND
            HEX(t.categoryId) = #{categoryId}
        GROUP BY
            todoNo
        ORDER BY
            todoDay ASC
               , todoTime IS NULL ASC
               , todoTime ASC
    </select>

    <!-- getTodoDetail : 할일 {todoNo}에 대한 세부정보를 조회 -->
    <select id="getTodoDetail" parameterType="TodoRequestVO"  resultType="TodoResponseVO">
        /*getTodoDetail*/
        SELECT
            categoryName
             , todoNo
             , todoTitle
             , todoContent
             , DATE_FORMAT(todoDay, '%Y-%m-%d') AS todoDay
             , DATE_FORMAT(todoTime, '%H:%i:%s') AS todoTime
             , stateKor
        FROM
            category AS c
           , tododetail AS t
           , grbstate AS g
        WHERE
            c.categoryId = t.categoryId
          AND
            t.todoState = g.stateCode
          AND
            HEX(t.categoryId) = #{categoryId}
          AND
            todoNo = #{todoNo}
    </select>

    <!-- insertTodo : 할일 등록하기 -->
    <insert id="insertTodo" parameterType="TodoRequestVO" >
        /*insertTodo*/
        INSERT INTO
			tododetail
            (
                 categoryId
                , todoTitle
                , todoContent
                , todoDay
                , todoTime
                , todoState
                , todoCreatedAt
            )

		VALUES
			(
                UNHEX(#{categoryId})
		      , #{todoTitle}
              , #{todoContent}
              , #{todoDay}
              , #{todoTime}
              , 'TR'
              , now()
        )
    </insert>

    <!-- updateTodo : 할일 수정하기 -->
    <update id="updateTodo" parameterType="TodoRequestVO">
        /*updateTodo*/
        UPDATE
            tododetail
        SET
            categoryId=UNHEX(#{categoryId})
          , todoTitle=#{todoTitle}
          , todoContent=#{todoContent}
          , todoDay=  DATE_FORMAT(#{todoDay}, '%Y-%m-%d')
          , todoTime=DATE_FORMAT(#{todoTime}, '%H:%i:%s')
          , todoState=#{todoState}
          , todoUpdatedAt=now()
        WHERE
            HEX(categoryId) = #{categoryId}
        AND
            todoNo=#{todoNo}
    </update>

    <!--deleteTodo : 할일 삭제 -->
    <delete id="deleteTodo" parameterType="TodoRequestVO" >
        /*deleteTodo*/
        DELETE
        FROM
            tododetail
        WHERE
            HEX(categoryId) = #{categoryId}
          AND
            todoNo=#{todoNo}
    </delete>

</mapper>